.Rproj.user
.Rhistory
.RData
.Ruserdata
.CondaPkg
StMaRDI.Rproj

renv/library/
renv/python/
renv/.gitignore
renv/settings.json

chapters/notebook_gallery/data/
chapters/notebook_gallery/bnlearn_data/
chapters/notebook_gallery/notebooks/.cache/
chapters/contribute_cache/html/

*.tex
*.pdf
.DS_Store

_book
*/*_files/

/.quarto/

**/*.quarto_ipynb
