.Rproj.user
.Rhistory
.RData
.Ruserdata
StMaRDI.Rproj

renv/library/
renv/python/

chapters/notebook_gallery/data
chapters/notebook_gallery/bnlearn_data

*.tex
*.pdf
.DS_Store

_book
*/*_files/

/.quarto/

**/*.quarto_ipynb
